*:focus {
    outline: 3px solid  #ff0026;
    outline-offset: 5px;
    outline-style: solid;
    border-radius: 4px;
}

body {
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(
        to right,
        #0000FF 0,
        #0000FF 50%,
        #FAFAFA 50%,
        #FAFAFA 100%
    );
    background-size: 200% 100%;
}

@media (min-width: 300px) {
    body {
        background-size: calc(200% / 5) 100%;
    }
}

@media (min-width: 600px) {
    body {
        background-size: calc(200% / 9) 100%;
    }
}

@media (min-width: 900px) {
    body {
        background-size: calc(200% / 13) 100%;
    }
}


h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 2%;
    color: #FAFAFA;
    text-transform: uppercase;
}

h3 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 2%;
    line-height: 30px;
    color: #181818;
}

h4 {
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #181818;
}

p {
    font-family: "Urbanist", sans-serif;
    font-weight: regular;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #181818;
}

h5 {
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-style: solid
    text-decoration-color: #181818;
    text-decoration-thickness: 0.25px;
    line-height: 16px;
    color: #181818;
}

h6 {
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #181818;
}

/* Bild-Elemente */

.burger {
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.burger:hover {
    overflow: #0000FF;
    transform: scale(1.1);
}

.logobadge {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 400px;
    height: auto;
    transition: 0.3s;
}

.logobadge:hover {
    transform: scale(1.1);
}

.dropdown {
    display: flex;
    width: 22px;
}

hr {
    border: 0;
    height: 2px;
    background: #181818;
    width: 100%;
    
}

.mehr {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: right;
}

footer {
    background-color: #0000FF;
    height: 178px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.logobadge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
}

.fakten-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FAFAFA;
    padding: 32px;
}

.fakten-ueberschrift {
   min-height: 74px;
   padding-left: 24px;
   width: 100%;
   background-color: #0000FF;
   display: flex;
   align-items: center;
   border: 4px solid black;
   border-radius: 32px 32px 0 0;
}

.fakten-inhalt {
    color: #181818;
    padding: 12px;
    margin-top: -4px;
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
    border: 4px solid #181818;
    border-radius: 0 0 32px 32px;
    }

.fakten-spalte {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
    align-items: flex-start;
}
.aktuelles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FAFAFA;
    padding: 32px;
}

.aktuelles-ueberschrift {
    min-height: 74px;
    padding-left: 24px;
    width: 100%;
    background-color: #181818;
    display: flex;
    align-items: center;
    border: 4px solid #181818;
    border-radius: 32px 32px 0 0;
 }

 .aktuelles-inhalt {
    color: #181818;
    padding: 12px;
    margin-top: -4px;
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
    border: 4px solid #181818;
    border-radius: 0 0 32px 32px;
 }

 .geschichte-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FAFAFA;
    padding: 32px;
}

.geschichte-ueberschrift {
    min-height: 74px;
    padding-left: 24px;
    width: 100%;
    background-color: #0000FF;
    display: flex;
    align-items: center;
    border: 4px solid #181818;
    border-radius: 32px 32px 0 0;
 }

 .geschichte-inhalt {
    color: #181818;
    padding: 12px;
    margin-top: -4px;
    width: 100%;
    height: auto;
    background-color: #FAFAFA;
    border: 4px solid #181818;
    border-radius: 0 0 32px 32px;
 }

 html {
    scroll-behavior: smooth;
}

 /* Header-Menu*/
.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    color: #181818;
    background-color: #FAFAFA;
}

.header .nav-links a:hover {
    color: #0000FF;
    transition: 0.3s;
    text-decoration: underline ;
}

a {
    text-decoration: none;
    color: #181818;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-transform: uppercase;
}

.logo {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-transform: uppercase;
}

.nav-links {
    display: none;
}

.burger-menu {
    height: 28px;
    font-weight: regular;
    cursor: pointer;}


@media (min-width: 900px) {
    .nav-links {
        display: flex;
    }

    .burger-menu {
        display: none;
    }

    .nav-links a {
        margin-left: 20px;
        text-decoration: none;
        color: #181818;
        background-color: #FAFAFA;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }
    h2 {
        font-size: 56px;
        line-height: 42px;
    }
    h3 {
        font-size: 36px;
        line-height: 30px;
    }
    h4 {
        font-size: 20px;
        line-height: 18px;
    }
    h5 {
        font-size: 14px;
        line-height: 20px;
    }

    h6 {
        font-size: 14px;
        line-height: 20px;
    }
    .fakten-container {
        max-width: 700px;
    }
    .geschichte-container {
        max-width: 700px;
    }
    .aktuelles-container {
        max-width: 700px;
    }
}

@media (min-width: 600px) {
    .fakten-container {
        max-width: 433px;
    }
    .geschichte-container {
        max-width: 700px;
    }
    .aktuelles-container {
        max-width: 433px;
    }
}

